body{
	font-size:500em;
}
 h1{
	 .background-color:#C5D2DB;
	color:white;
	 text-color: white;
 }
 label{
	 font-size: 1200px;
 }
 #back1,#home1{
	 .background-color:#56B1BF;
	 .background-color:#C5D2DB;
 }

#holder{
  background-color:red;
  }

  #holder{
   height:800px;
   width:100%;
   margin-left:20px;

  }
   #place {
   position: relative;

   }
   #place a{
   font-size:0.8em;

   }
   #place li
   {
       list-style: none outside none;
       position: absolute;

   }

   #place .seat{
   background:url("img/available1.jpg") no-repeat scroll 0 0 transparent;
   height:800px;
   width:100%;
   display:block;
   }
    #place .selectedSeat
    {
      background-image:url("img/booked1.jpg");
    }
     #place .selectingSeat
    {
      background-image:url("img/selected1.jpg");
    }
    #place .unavilableSeat
    {
      background-image:url("img/unavailable1.jpg");
    }
    #place .row-3, #place .row-4{
      margin-top:10px;
    }
    #seatDescription{
   padding:0px;
   }
    #seatDescription li{
    verticle-align:middle;
    list-style: none outside none;
     padding-left:35px;
    height:35px;
    float:left;
    }
  #order_place{
  position: relative;

  }
  .sitting{
  position: relative;
  display: inline-block;
  }

#home1{
  float: left;
  width: 45%;
}

#back1{
  float: right;
  width: 45%;
}

h2{
  text-align: center;
}
.imag{
  width: 100%;
  height: 40%;
}

// CS for cards

.wrap{
	width:10px;
}



.cardcoach {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.sidenav {
  height: 60%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
	.background-color:#56B1BF;
	background-color:#FFFAFA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 30px 30px 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.card{
	transition:0.4s;
	text-align:center;
	font-size:16px;
	font-family: sans-serif;
	float:left;
	margin-top:50px;
	margin-left:40px;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
	left: 0px;
	overflow: hidden;
	position: relative;
	width: 45%;
}

@media only screen and (max-width: 600px) {
	.card{
		width:100%;
	}

}


@media only screen and (min-width: 400px) {
	#hcard{
		width: 80%;
		position: relative;
	}
}

#hcard{
	color:black;

}

.card-deck p{
  position: relative;
  margin: 0 0 20px;
  font-weight: 300;
  text-transform: 2;
  z-index: 1;
	color:black;
}



.icon{
  position: absolute;
  font-size: 120px;
  width: 100%;
  text-align: center;
  top: -10px;
  left: 0px;
  height: 100%;
  float: left;
  color: #c5919d;
  box-sizing: border-box;
  z-index: 1;
}




span{
	font
}
